venv/
*.pyc
__pycache__/
.env
.DS_Store
.idea/
.vscode/
logs/
*.log
database/sqlite3
coverage/htmlcov/
coverage/.cache
*.egg-info/
dist/
build/
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.iml
*.class
*.jar
*.war
*.log.*
*.orig
*.rej
*.swo
*.out
